In [1]:
import pandas as pd
import numpy as np
from pycaret.classification import * #Classification
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
alldata = pd.concat([train, test],axis=0)

# Missing value completion

### For aiming more high accuracy, using "title"(s.t. Sir. Mr. Ms. etc) from column Name and add as new feature.

In [3]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'
    
def replace_titles(x):
    title = x['Title']
    if title in ['Capt', 'Col', 'Don', 'Jonkheer', 'Major', 'Rev', 'Sir']:
        return 'Mr'
    elif title in ['the Countess', 'Mme', 'Lady']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title

In [4]:
alldata['Title'] = alldata['Name'].map(lambda x: get_title(x))
alldata['Title'] = alldata.apply(replace_titles, axis=1)

In [5]:
train = alldata.iloc[:train.shape[0],:]
test = alldata.iloc[train.shape[0]:,:]

# Create Model by PyCaret

In [6]:
from pycaret.classification import *
clf = setup(train, target = 'Survived',categorical_features=["Pclass","Sex","Embarked"], 
        numeric_features=["Age","SibSp","Parch","Fare"],ignore_features=["PassengerId","Name","Ticket","Cabin"])

In [7]:
compare = compare_models()

In [8]:
lr = create_model('lr')
tuned_lr = tune_model(lr, optimize = 'Accuracy')

# Model interpretation

In [9]:
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [14]:
test_predictions = predict_model(tuned_lr, data=test)
test_predictions.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Label,Score
0,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr,0.0,0.9304
1,893,NaN,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,1.0,0.5585
2,894,NaN,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,0.0,0.9006
3,895,NaN,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,0.0,0.9234
4,896,NaN,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,1.0,0.6524

In [16]:
submission=pd.DataFrame({'PassengerId':test_predictions['PassengerId'],'Survived':test_predictions['Label']})

list = []
for i in range(test.shape[0]):
    list.append(submission.loc[i,"Survived"][0])
    
submission['Survived']=list

submission.to_csv("submission_LogisticRegression.csv",index=False)

# Make Blender models

### For aiming higher score, let's blend the models. In this time, I will blend the best 5 models and predict the score

In [22]:
blender_specific = blend_models(estimator_list = compare_models(n_select = 5), method = 'auto')

In [18]:
blender_final = finalize_model(blender_specific)
test_predictions = predict_model(blender_final, data=test)
test_predictions.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Label
0,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr,0.0
1,893,NaN,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,1.0
2,894,NaN,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,0.0
3,895,NaN,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,0.0
4,896,NaN,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,1.0

In [19]:
evaluate_model(blender_final)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [21]:
submission=pd.DataFrame({'PassengerId':test_predictions['PassengerId'],'Survived':test_predictions['Label']})

list = []
for i in range(test.shape[0]):
    list.append(submission.loc[i,"Survived"][0])
    
submission['Survived']=list

submission.to_csv("submission_Blender.csv",index=False)